body{
    background-color: black;
    color: white;
}

.flex{
    display: flex;
}

.side-nav{
    height: 100%;
    width: 50px;
    background-color: white;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    

}

.primary-navigation{
    flex-direction: column;
    list-style: none;
    margin-inline: 2.5px;
    padding: 5px;
    border-radius: 20px;

    
}

.icon-images{
    
    margin-top: 10px;
    width: 40px;
}